.card-container {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
    margin: 20px;
    justify-content: center;
  } 
  .card {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
  }
  .card img {
    height: min-content;
    object-fit: cover;
    width: 200px;
  }
   h1 {
    margin: 30px;
    text-decoration: underline;
    align-items: center;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .card p{
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-style: italic;
  }