.header {
    background-color: black;
    display: flex;
    max-width: 100%; 
    justify-content: space-around;
    align-items: center;
  }
  
  .navitems ul {
    display: flex;
    flex-grow: 1; 
    list-style: none;
  }
  
  .navitems a {
    color: white;
    text-decoration: none;
    margin: 15px;

  }